
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.topics:hover {
    border-color: red;
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
}

.categories:hover {
    border-color: red;
    color: dodgerblue;
    font-weight: bold;
    cursor: pointer;
}

h5 {
    text-align: center;
}

.health-table {
    /* width: 100%; */
    border: 1px solid whitesmoke;
    overflow-y: scroll;
}

.health-table > div {
    border: 1px solid whitesmoke;
    cursor: pointer;

}

.health-articles {
    /* width: 100%; */
    border: 1px solid whitesmoke;
    /* overflow-y: scroll; */
}

.health-articles > div {
    border: 1px solid whitesmoke;
    cursor: pointer;

}

  /* Healthpedia Related items page styling */
.relateditems {
    /* this is the parent class */
    margin-left: 20px;
    color: whitesmoke
      
    
}

.relateditems > div {
    margin-left: 20px;

}

.relateditems > p {
    margin-left: 40px;

}

.relateditems > h1 {
    margin-left: 20px;

}

.relateditems > h2 {
    margin-left: 20px;

}

.relateditems > h3 {
    margin-left: 20px;
    color: rgb(182, 158, 26);
}

.relateditems > h4 {
    margin-left: 20px;
    color: rgb(182, 127, 26);

}

.relateditems > h5 {
    margin-left: 20px;

}

.relateditems > span {
    margin-left: 20px;

}

.relateditems > li {
    /* margin-left: 50px; */

}


.relateditems > ul {
    margin-left: 50px;

}

.relateditems > a {
    cursor: pointer;

}

/* END Healthpedia Related items page styling */

/* Favorite star do not CSS */
.star {
    color: white;
    cursor: pointer;
}

.active, .star:hover {
    color: goldenrod;
    cursor: pointer;
}